<div class="row-fluid page-title">
  <h2>Update user</h2>
</div>

<div class="row-fluid">
  <div class="span6">
    <form method="post" action="">
      <div class="well">
        <div>
          <label>Username</label>
          <input type="text" name="member[username]" value="<%= @member.username %>" />
        </div>
        <div>
          <label>Email</label>
          <input type="text" name="member[email]" value="<%= @member.email %>" />
        </div>
        
        <% if current_member.role_id == 1 %>
        <div>
          <label>Role</label>
          <select name="member[role_id]">
            <% for role in @roles do %>
            <option value="<%= role.id %>" <% if(@member.role_id == role.id) %> selected <%  end  %>><%= role.name %></option>
            <% end %>
          </select>
        </div>
        <% end %>
      </div>
      <div class="form-actions">
        <button type="submit" id="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>
</div>














